<div class="register">
 {% if user.is_authenticated %}
  <p>  Welcome ! {{ user.username }} | <a href="{{DYNAMIC_URL}}/logout">Logout</a></p>
 {% else %}  
 <p>Hey Guest ! Please Login to take test with YATS</p>
{% endif %}
</div>
<div class="ul_menu">
<ul>
<ul><a href="{{DYNAMIC_URL}}/home">Home</a></ul>
<ul><a href="{{DYNAMIC_URL}}/about_us">About Us</a></ul>
<ul><a href="{{DYNAMIC_URL}}/our_team">Our Team</a></ul>
<ul><a href="{{DYNAMIC_URL}}/our_plan">Our Plan</a></ul>
<ul><a href="{{DYNAMIC_URL}}/contact_us">Contact Us</a></ul>
<ul><a href="{{DYNAMIC_URL}}/choose_subject">Yats Test</a></ul>
<ul><a href="{{DYNAMIC_URL}}/mytestscore">My Score</a></ul>
</ul>
</div>
