{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
    <h3>About Us </h3>
<p>Demo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo Demo Demo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo Demo </p>

<p>Demo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo Demo Demo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo Demo </p>


<p>Demo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo Demo Demo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo DemoDemo DemoDemo DemoDe  moDemo DemoDemo De Modemo Demo </p>

</div>
{% include 'footer.html' %}
</div>
</body>
</html>
