{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
    <h3>Please Take Any Test </h3>
    <ol>
        {% for option in option %}
            <li>{{option.option}}</li>
        {% endfor %}
        </ol>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
