{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
    <h3>Contact Us </h3>
    
{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
{% endif %}

    <form action="/contact_us/" method="post">
        <table>
            {{ form.as_table}}
        </table>
            {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
