{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
     <div class='left_content'>
     <h3 align='center'>Is You dream Of IIT</h3>
     <p align='center'> Login as <a href="{{DYNAMIC_URL}}/login">student</a></p>
     <br/>
     <p align='center'> Join Us  as <a href="{{DYNAMIC_URL}}/student_sign_up">student</a></p>
     <br/>
     </div>
     
     <div class='right_content'>
     <h3 align=center> Did U acheived your Dream ! Please Join With Us</h3> 
     <p align='center'> Login as <a href=" {{DYNAMIC_URL}}/associate_login">YATS Associate</a></p>
     <br/>
     <p align='center'> Join Us  as <a href="{{DYNAMIC_URL}}/associate_sign_up">YATS Associate</a></p>
     <br/>
     </div>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
