{% include 'base.html' %} include 'base.html' %}
<body>
<div id="wrapper"> id="wrapper">
<div id="wrapper"> id="header">
<div id="header"> id="wrapper">
<div id="header"> id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1> align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu"> id="menu">
{% include 'nav.html' %} include 'nav.html' %}
</div>
</div>
</div>
</div>
<div id='content'> id='content'>
Please logout before proceeding. logout before proceeding.
{% else %} else %}
{% else %} include "signup_form.html" %}
{% else %} endif %}>
{% include "signup_form.html" %} else %}
{% include "signup_form.html" %} include "signup_form.html" %}
{% include "signup_form.html" %} endif %}>
{% endif %}> else %}
{% endif %}> include "signup_form.html" %}
{% endif %}> endif %}>
</div>
{% include 'footer.html' %} include 'footer.html' %}
</div>
</body>
</html>
