{% include 'base.html' %}
<body>
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
</div>
<p> This Is My Join Us Page </p>
<div id="menu">
{% include 'nav.html' %}
</div>
</body>
</html>
