{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
<a href="{{DYNAMIC_URL}}{{test_name.id }}"><li>Logout</li></a>
</div>
</div>
<div id='content'>
    <h3>Please Take Any Test </h3>
    <ol>
        {% for test_name in test %}
            <a href="{{DYNAMIC_URL}}{{test_name.id }}"><li>{{test_name.test}}</li></a>
        {% endfor %}
        </ol>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
