{% load url from future %}

<h3>Welcome to Yats Login</h3>
<br>

<form method="POST" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
    <td colspan="2" align="center">
        <input class="btn btn-primary" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </td>
</tr>
</table>

</form>
