{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">

{% include 'nav.html' %}
</div>
</div>
<div id='content'>


 {% if not user.is_authenticated %}
 <p> please , Login to take test</p>
 {% include "login_form.html" %}
 {% else %}  
 <p>Welcome, {{ user.username }}. Please Click on Yats Test to continue.</p>
{% endif %}


</div>
{% include 'footer.html' %}
</div>
</body>
</html>





