{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
    <h3>Hey {{user}} ! Your Test Score </h3>
    <ol>
       
       
       {% for test_taken_dict in test_taken %}
         <tr>
         <td> Test : {{test_taken_dict.test}} |</td>
         <td>Question:{{test_taken_dict.question}} |</td>
         <td>Score:{{test_taken_dict.score}}</td>
         </tr>
          <br/>
        {% endfor %}
    <!--  <p> Yout Total Score Is {{total_score}}</p> -->

      <!-- {% for myscore in scorelist %}

       <table> 
        <tr>
       	<td>Question {{myscore.id}} :{{myscore.question}} </td>
   
       	<td>Score: {{myscore.total_scorescore}}</td>
        </tr>
       </table>
            
        {% endfor %}
        -->
    </ol>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
