{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
	
    <h3>Congrats {{ user }} ! Your Answer Is Correct</h3>
  
         <h3><b>Test :</b> {{question}}</h3>
         <h3><b>Your Score: </b>{{score}}</h3>
     
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
