{% if form.errors %}
  <p style="color: red;">
  Please correct the error{{ form.errors|pluralize }} below.
  </p>
{% else %}
  <h4>Join YATS ! And get Unlimted number of Test and Suggestion</h4>
{% endif %}
<br>
<form action="" method="POST">
{% csrf_token %}
<table>
    {{ form.as_table }}
    <tr>
      <th colspan="2">
        <input class="btn btn-primary" type="submit" value="Sign Up" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
      </th>
    </tr>
</table>
</form>
