</body>
<body>
</div>
</div>
</div>
</div>
<div id='content'>
<div id="header">
<div id="menu">
<div id="wrapper">
    {% else %}
    {% endif %}>
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
    <h3>Associate Sign Up</h3>
</html>
    {% if user.is_authenticated %}
{% include 'base.html' %}
{% include 'footer.html' %}
{% include 'nav.html' %}
    {% include "signup_form.html" %}
    Please logout before proceeding.
