{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
    <h3>Student Sign Up</h3>
    {% if user.is_authenticated %}
    Please logout before proceeding.
    {% else %}
    {% include "signup_form.html" %}
    {% endif %}>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
