{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
{% block content %}

  {% if form.errors %}

    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}
  <h3>Please Login To Take All The <TABLE></TABLE>est</h3>
  <form action="\login_view\" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username">
    <br/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
     <br/>
    <br/>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
