{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>

</div>
<div id='content'>
    <h3>Please Take Any Test </h3>
    <p>Hey, <b>{{ user.username }}.</b> Please Choose the correct to continue.</p>
    <p>Please Select any option</p>
     <br/>
            <p>{{question }}</p>
        <br/>
        <form action ="/check_answer/" method="post">
            
            {% for options in option %}

             <input type="radio" name="option_clicked" value="{{options}}">{{options}}<br>

            {% endfor %}   
                
        <input type="hidden" name="question_id" value="{{question_id}}">
        <input type="hidden" name="test_id" value="{{test_id}}">
        <input type="hidden" name="question" value="{{question_no}}">
        <input type="submit" value="Submit" />
        </form>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
