{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
<h3>Thanks For Taking Test ! Check Your Score in the given link </h3>
 <br>
 <a href="{{DYNAMIC_URL}}/myscorelist">Check Your Score</a>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
