{% include 'base.html' %}
<body>
<div id="wrapper">
<div id="header">
<h1 align='center'><u>Welcome to YATS:--" A Revolution Toward Your Dream!"</u></h1>
<div id="menu">
{% include 'nav.html' %}
</div>
</div>
<div id='content'>
     <p>Thanks a Lot ! We will soon send you Username and Password after Verification</p>
</div>
{% include 'footer.html' %}
</div>
</body>
</html>
